:root {
  --primary-color: #121212;
  --secondary-color: #3700b3;
  --bg-color: rgba(245, 245, 245, 0.9);
  --input-color: #fff;
  --input-border: #ccc;
  --error-color: #ff0033;
}

[data-theme='dark'] {
  --primary-color: #fff;
  --secondary-color: #03dac6;
  --bg-color: rgba(25, 25, 25, 0.9);
  --input-color: #121212;
  --input-border: #777;
  --error-color: #ff0033;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: var(--bg-color);
  transition: color 1s;
  color: var(--primary-color);
  font-size: 16px;
  min-width: 400px;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

header {
  min-width: 400px;
}

input,
textarea {
  font-size: 1em;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  outline-style: unset;
  padding: 15px;
  border-radius: 3px;
  margin: 3px 0 15px;
  resize: none;
}

a {
  transition: color 1s;
  color: var(--primary-color);
}

ul,
li,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

main {
  margin: 0;
  overflow: hidden;
  margin: 0 auto;
  max-width: 1000px;
}

h1 {
  display: inline-block;
  margin: 45px 25px 25px;
}

/* ERROR PAGE - 404*/
main.error-page {
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main.error-page h1 {
  margin: 0;
  padding: 0;
  font-size: 4rem;
}

main.error-page h2 {
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
}
